@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}
body{
    background-color: #F8EEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.container{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1440px;
    transition: 0.3s;
}
.container_active{
    filter: blur(5px);
}
.title{
    font-size: 30px;
    font-weight: 1000;
}
.bold{
    font-weight: 700;
}
.cursor{
    cursor: pointer;
}
.button{
    background-color: #FFD600;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.fa-cart-shopping{
    color: #fff;
}
.sidebar{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -200px;
    transition: 0.3s;
    z-index: 10;
    background-color: #FFD600;
    padding: 25px 10px;
    filter: blur(0px);
}
.sidebar__cross-btn{
    font-size: 27px;
}
.sidebar__list{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.sidebar__item{
    margin: 20px 0px;
}
.sidebar__link{
    color: #000;
}
.sidebar_active{
    right: 0px;
}
.sidebar__button{
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}
.header-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    flex-wrap: wrap;
}
.header__logo{
    font-size: 35px;
    color: #000;
}
.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__item{
    margin: 0px 15px;
}
.header__link{
    color: #000;
}
.header__button{
    background-color: #FFD600;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.burger{
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 8px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 75%;
    height: 2px;
    background-color: #000;
}
.main-in{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__text{
    display: flex;
    text-align: center;
    margin: 20px 0px;
}
footer{
    background-color: rgb(47, 52, 62);
    color: #fff;
}
.footer-in{
    padding: 20px 10px;
    display: flex;
}
.footer__mainlist{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 1;
}
.footer__mainlist span{
    width: 300px;
}
.footer__nextlist{
    display: flex;
    flex: 2;
}
.footer__list{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer__text{
    color: lightgrey;
    margin-bottom: 7px;
}
@media screen and (max-width: 400px){
    .header__button{
        display: none;
    }
    .sidebar__button{
        display: block;
    }
}
@media screen and (max-width: 850px){
    .header__list{
        display: none;
    }
    .burger{
        display: flex;
    }
}
@media screen and (max-width: 750px){
    .footer__nextlist{
        flex-direction: column;
    }
    .footer__list{
        margin-bottom: 30px;
    }
    .footer__mainlist span{
        width: 100%;
        margin: 10px 0px;
    }
}
@media screen and (max-width: 1000px){
    .footer-in{
        flex-direction: column;
    }
    .footer__nextlist{
        margin-top: 30px;
    }
}