{% extends 'base.html'%}
{% load static %}
{% block head %}
<title>MinoShop</title>
<link rel="stylesheet" href="{% static 'css/all-products.css'%}">
{% endblock head %}
{% block content %}
        <div class="container">
            <div class="order-in">
                <div class="order__title">
                    <span class="title" style="color: #CA8970;">Barcha &emsp14;</span>
                    <span class="title">Tovarlar</span>
                </div>
                <div class="order__main">
                    <div class="order__left">
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                        <div class="order__imagebox">
                            <img class="order__left--image order__left--image1" src="{% static 'images/t-short.svg'%}"
                                alt="T-Short">
                            <span class="order__price">
                                <p class="order__price--yellow">$7.5 </p>
                                <p> - 81.000 uzs</p>
                            </span>
                        </div>
                    </div>
                    <div class="order__right">
                        <div class="order__categories">
                            <h2 class="order__categories--title">Kategoriyalar</h2>
                            <div class="order__categories--list">
                                <div class="cursor order__categories--item">
                                    <i class="fas fa-dice-four"></i>
                                    <b>Futbolkalar</b>
                                </div>
                                <div class="cursor order__categories--item">
                                    <i class="fas fa-dice-four"></i>
                                    <b>Hudilar</b>
                                </div>
                                <div class="cursor order__categories--item">
                                    <i class="fas fa-dice-four"></i>
                                    <b>Krujkalar</b>
                                </div>
                                <div class="cursor order__categories--item">
                                    <i class="fas fa-dice-four"></i>
                                    <b>Sovg'alar</b>
                                </div>
                                <div class="cursor order__categories--select">
                                    <h3>Material <i class="fas fa-chevron-up"></i></h3>
                                    <input type="checkbox">
                                    <span>Paxta (3)</span>
                                </div>
                                <div class="order__categories--select">
                                    <h3>Narxi <i class="fas fa-chevron-up"></i></h3>
                                    <span>50.000 - 390.000</span>
                                </div>
                                <div class="order__categories--select">
                                    <h3>Rang <i class="fas fa-chevron-up"></i></h3>
                                    <div class="order__categories--colors">
                                        <div class="color" style="background-color: black;"></div>
                                        <div class="color" style="background-color: blue;"></div>
                                        <div class="color" style="background-color: brown;"></div>
                                        <div class="color" style="background-color: gray;"></div>
                                        <div class="color" style="background-color: green;"></div>
                                        <div class="color" style="background-color: white;"></div>
                                        <div class="color" style="background-color: orange;"></div>
                                        <div class="color" style="background-color: purple;"></div>
                                        <div class="color" style="background-color: red;"></div>
                                        <div class="color" style="background-color: yellow;"></div>
                                    </div>
                                    <button class="button bold cursor" style="font-size: 18px; width: 100%;">Hammasini
                                        qaytarish</button>
                                </div>
                            </div>
                        </div>
                        <div class="order__categories">
                            <h2 class="order__categories--title">Biz ijtimoiy tarmoqlarda</h2>
                            <div class="order__categories--sn cursor">
                                <i class="fa-brands fa-facebook" style="color: blue;"></i>
                                <span>Facebook</span>
                            </div>
                            <div class="order__categories--sn cursor">
                                <i class="fa-brands fa-instagram" style="color: red;"></i>
                                <span>Instagram</span>
                            </div>
                            <div class="order__categories--sn cursor">
                                <i class="fa-brands fa-telegram" style="color: lightblue;"></i>
                                <span>Telegram</span>
                            </div>
                        </div>
                        <div class="order__categories">
                            <h2 class="order__categories--title">Dizayn buyurtmasi</h2>
                            <div class="cursor order__categories--item">
                                <i class="fas fa-dice-four"></i>
                                <b>Futbolkalar</b>
                            </div>
                            <div class="cursor order__categories--item">
                                <i class="fas fa-dice-four"></i>
                                <b>Hudilar</b>
                            </div>
                            <div class="cursor order__categories--item">
                                <i class="fas fa-dice-four"></i>
                                <b>Krujkalar</b>
                            </div>
                            <div class="cursor order__categories--item">
                                <i class="fas fa-dice-four"></i>
                                <b>Sovg'alar</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order__bottom">
                    <button class="order__pages cursor" style="background-color: #CA8970;"><i style="color: #000;"
                            class="fas fa-chevron-left"></i></button>
                    <button class="order__pages cursor">1</button>
                    <button class="order__pages cursor">2</button>
                    <button class="order__pages cursor">10</button>
                    <button class="order__pages cursor" style="background-color: #CA8970;"><i style="color: #000;"
                            class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <script src="{% static 'js/app.js'%}"></script>
{% endblock content %}
